.root {
  margin: 50px auto;
  padding: 50px;
  width: 500px;
  border: 1px solid #dedede;

  .title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .avatar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    label {
      cursor: pointer;
    }

    .img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
    }

  }

  .field {
    margin-bottom: 20px;
  }
}
