.root {
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .userDetails {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
}