.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-weight: bold;
      font-size: 25px;

      a {
        color: #000;
      }
    }

    .buttons {
      display: flex;
      
      button {
        margin-left: 10px;
      }
    }

    a {
      text-decoration: none;
    }
  }
}
