.root {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 50px;
  color: #fff;

  a {
    text-decoration: none !important;
    color: inherit !important;
    text-transform: uppercase;
    font-weight: 600px;
  }

  ul {
    list-style: none !important;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.avatar {
  cursor: pointer;
}
